:root {
  --red: #e74c3c;
  --blue: #2980b9;
  --orange: #e67e22;
  --purple: #9b59b6;
  --green: #27ae60;
  --dark: #242424;
  --light: #e7e7e7;
  --card-text: #e7e7e7;
  --gray: #b9b9b9;
  --trans: #00000000;
  --opaque: #ffffff2c;
  --highlight: #32b3d3;
  --checked: #00ff00;
  --focused: #fff;
  --img-opacity: .02;
  --background1: #333333;
  --background2: #111111;
  --tag-background: #6666663d;
  --tag-color: #e0e0e0;
  --font-base-size: 100%;
}