:root {
  --secondary: #383838;
  --primary: #e7e7e7;
  --card-text: #e7e7e7;
  --muted: #b9b9b9;
  --trans: #00000000;
  --opaque: #ffffff2c;
  --highlight: #32b3d3;
  --checked: #00ff00;
  --focused: #fff;
  --img-opacity: .02;
  --background1: #405974;
  --background2: #243342;
  --tag-card-color: #e0e0e0;
  --tag-card-background: #0000003d;
  --tag-cloud-color: #e0e0e0;
  --tag-cloud-background: #0000003d;
  --font-base-size: 100%;
}