:root {
  --red: #e74c3c;
  --blue: #2980b9;
  --orange: #e67e22;
  --purple: #9b59b6;
  --green: #27ae60;
  --dark: #fff;
  --light: #000;
  --card-text: #fff;
  --gray: #7a7a7a;
  --trans: #00000000;
  --opaque: #2727271a;
  --highlight: #32b3d3;
  --focused: #fff;
  --img-opacity: .1;
  --background1: #cccccc;
  --background2: #a1a1a1;
  --tag-background: #0000003d;
  --tag-color: #e0e0e0;
  --font-base-size: 100%;
}

.color-1.active,
.color-2.active,
.color-3.active,
.color-4.active,
.color-5.active {
  border-color: var(--highlight) !important;
  border-width: 2px 1px !important;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5 {
  color: var(--card-text);
  font-weight: 500;
}

.color-1 {
  background-color: var(--blue);
}

.color-2 {
  background-color: var(--red);
}

.color-3 {
  background-color: var(--purple);
}

.color-4 {
  background-color: var(--orange);
}

.color-5 {
  background-color: var(--green);
}