:root {
  --red: #e74c3c;
  --blue: #2980b9;
  --orange: #e67e22;
  --purple: #9b59b6;
  --green: #27ae60;
  --dark: #fff;
  --light: #000;
  --cardText: #fff;
  --gray: #7a7a7a;
  --trans: #00000000;
  --opaque: #2727271a;
  --highlight: #32b3d3;
  --focused: #fff;
  --imgOpacity: .2;
  --background1: #fcfcfc;
  --background2: #e0e0e0;
}

.theme-1.active,
.theme-2.active,
.theme-3.active,
.theme-4.active,
.theme-5.active {
border-color: var(--highlight) !important;
border-width: 2px 1px !important;
}

.theme-1,
.theme-2,
.theme-3,
.theme-4,
.theme-5 {
color: var(--light);
font-weight: 500;
}

.theme-1 {
background-color: var(--blue);
}

.theme-2 {
background-color: var(--red);
}

.theme-3 {
background-color: var(--purple);
}

.theme-4 {
background-color: var(--orange);
}

.theme-5 {
background-color: var(--green);
}