:root {
  --red: #e74c3c;
  --blue: #2980b9;
  --orange: #e67e22;
  --purple: #9b59b6;
  --green: #27ae60;
  --secondary: #e7e7e7;
  --primary: #383838;
  --menu-primary: #ffffff73;
  --card-primary: #e7e7e7;
  --muted: #7a7a7a;
  --trans: #00000000;
  --opaque: #2727271a;
  --opaque-card: #00000015;
  --new-highlight: #4dd332;
  --tag-highlight: #32b3d3;
  --search-highlight: #d6b314;
  --highlight: #32b3d3;
  --drop: #32b3d35b;
  --unchecked: #ffffff42;
  --checked: #fff;
  --focused: #fff;
  --img-opacity: .1;
  --main-background-light: #bebebe;
  --main-background-dark: #a1a1a1;
  --menu-background-light: #bebebe;
  --menu-background-dark: #bebebe;
  --tag-card-color: #e0e0e0;
  --tag-card-background: #0000003d;
  --tag-cloud-color: #e0e0e0;
  --tag-cloud-background: #0000003d;
  --font-base-size: 100%;
}