body {
  background-color: var(--dark);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.wrapper {
  display: grid;
  grid-template-columns: 40px 1fr 1px;
  grid-template-rows: 0px 1fr;
  grid-gap: 5px;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--background1), var(--background2));
}

.stack-host {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  overflow: hidden;
  align-items: start;
  grid-gap: 5px;
  height: 100%;
}

.click-area {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.stack {
  display: grid;
  grid-row: 1;
  grid-template-rows: 25px 1fr 25px;
  background-color: var(--opaque);
  border-radius: 5px;
  max-height: 100%;
  padding: 5px 0px;
  z-index: 1100;
  overflow: auto;
  -webkit-app-region: no-drag;
}

.header {
  color: var(--light);
  font-size: 120%;
  justify-self: center;
  font-weight: 500;
}

.box {
  min-height: 35px;
  overflow-y: scroll;
}

.footer {
  font-size: 150%;
  justify-self: right;
  padding: 0px 5px;
}

.titlebar, 
.window-title {
  font-weight: 500;
  font-size: 100% !important;
}

.inactive {
  background-color: var(--background1) !important;
  color: var(--opaque) !important;
}

.menubar {
  font-weight: normal;
}

.menu {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  grid-row-end: 4;
  text-align: center;
  background-color: var(--background1);
  border-radius: 3px;
  height: inherit;
  z-index: 1300;
}

.tooltip {
  z-index: 2200;
}

.theme-toggle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  padding: 6px;
  bottom: 0px;
}

.logo {
  z-index: 900;
  position: fixed;
  bottom: -20px;
  right: -30px;
  opacity: 0.02;
}

.close {
  color: var(--gray);
}

.close:hover {
  color: var(--light);
}

.modal {
  z-index: 2000;
}

.modal-backdrop {
  z-index: 1900;
}

.modal-header {
  border-bottom: 1px solid var(--background1);
}

.modal-content {
  border-color: var(--background1);
  background-color: var(--background2);
  color: var(--light);
}

.modal-stack {
  max-height: calc(100vh - 230px);
}

.modal-footer {
  border-top: 1px solid var(--background1);
}

.card {
  transition: 0.3s;
  border-radius: 3px;
  margin: 5px;
  padding: 2px;
  -webkit-app-region: no-drag;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(82, 82, 82, 0.6);
}

.card-selected {
  border-color: var(--focused);
}

.title {
  float: left;
}

.aging {
  float: right;
  font-size: 75%;
}

.collapsible {
  width: 100%;
  background-color: var(--trans);
  border: none;
}

.collapse-content {
  font-size: 75%;
  font-weight: normal;
}

.panel {
  border-width: 1px;
  border-color: var(--gray);
  padding: 2px;
}

.panel-header {
  height: 30px;
}

.panel-header:hover {
  color: var(--highlight);
}

.panel-header .fa {
  transition: 0.3s transform ease-in-out;
}

.panel-header .collapsed .fa {
  transform: rotate(-90deg);
}

.form-check-inline {
  margin-right: 0rem;
}

.disabled-form-label {
  color: var(--gray);
}

.card-menu,
.menu-item,
.footer {
  color: var(--opaque);
}

.card-menu {
  align-content: flex-end;
  font-size: 100%;
  text-align: right;
  width: 100%;
  padding: 1px;
}

.menu-item {
  padding: 4px;
  -webkit-app-region: no-drag;
}

.color-item {
  padding: 2px 0px 0px 0px;
  border-color: var(--highlight) !important;
  border-width: 2px solid !important;
  -webkit-app-region: no-drag;
}

.color-item:hover {
  color: var(--gray);
}

.footer:hover,
.menu-item:hover,
.title-bar-btns:hover,
.card-menu-item-del:hover,
.card-menu-item-clone:hover,
.card-menu-item-edit:hover {
  color: var(--light);
}

::-webkit-scrollbar {
  width: 0px;
  background: var(--trans);
}

.color-1 {
  color: var(--blue);
}

.color-2 {
  color: var(--red);
}

.color-3 {
  color: var(--purple);
}

.color-4 {
  color: var(--orange);
}

.color-5 {
  color: var(--green);
}

.tag-box {
  display: flex;
}

.tags {
  background-color: var(--gray);
  color: var(--light);
  width: fit-content;
  height: 22px;
  margin: 1px;
}
