body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
.header {
    color: #fff;
    font-size: 120%;
    justify-self: center;
    font-weight: bold;
}
.card {
    color: #fff;
    transition: 0.3s;
    border-radius: 2px;
    margin: 5px;
    -webkit-app-region: no-drag;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}
.cardMenuItem:hover {
    color: rgb(66, 195, 255);
}
.collapsible {
    width: 100%;
    background-color: #00000000;
    border: none;
}
.collapse {
    color: #FFF;
}
.cardMenu {
    align-content: flex-end;
    color: #fff;
    font-size: 100%;
    text-align: right;
    width: 100%;
    padding: 1px;
}
.cardMenuItem {

}
.footer {
    color: rgb(255, 255, 255, .2);
    font-size: 150%;
    justify-self: right;
    padding: 0px 5px;
}
.footer:hover {
    color: rgb(255, 255, 255)
}
.wrapper {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 1fr 5px;
    grid-template-rows: 1fr;
    align-items: start;
    grid-gap: 5px;
    /* background-image: linear-gradient(to bottom right, rgb(53, 53, 53), rgb(0, 0, 0)); */
    background-image: linear-gradient(to bottom right, rgb(0, 141, 223), rgb(0, 66, 128));
}
.logo {
    z-index: 1000;
    position: fixed;
    bottom: -20px;
    right: -30px;
    opacity: .05;
}
.menu {
    /* grid-row: 1 / 3; */
    text-align: center;
    background-color: rgb(0, 141, 223);
    color: #fff;
    border-radius: 5px;
    height: 100vh;
}
.host {
    display: grid;
    /* grid-row: 2; */
    grid-template-rows: 25px 1fr 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    max-height: 100vh;
    padding: 5px 0px;
    margin: 0px 0px;
    z-index: 1001;
}
.box {
    grid-row: 2;
    min-height: 35px;
    max-height: 100vh;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.edge {
    width: 5px;
    background-color: #00000000;
}
.menuItem {
    padding: 4px;
}
.menuItem:hover {
    color: rgb(66, 195, 255);
}
.menuItems:active {
    background-color: blue;
}
.drag1 {
    background-color: midnightblue;
}
.drag2 {
    background-color: darkred;
}
.drag3 {
    background-color: purple;
}
.drag4 {
    background-color: orangered;
}