html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--trans);
}

.quick-body {
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, var(--background1), var(--background2));
  padding: 5px;
  color: var(--light);
  font-weight: 500;
}

.quick-detail {
  min-height: 62px;
  max-height: 62px;
  resize: none;
}

.form-group {
  margin-bottom: 5px;
}

.color-label {
  margin-bottom: 0px;
  vertical-align: middle;
}

.color-btn-group {
  height: 20px;
  width: 308px;
}

.quick-arrow {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  border-left: 15px solid var(--trans);
  border-right: 15px solid var(--trans);
  border-bottom: 15px solid var(--background1);
  left: 45%;
  position: relative;
}

.footer {
  text-align: right;
  display: flex;
  place-content: flex-end;
  margin-top: 6px;
}

.btn {
  margin: 0px 1px 0px 4px;
}
