:root {
  --red: #e74c3c;
  --blue: #2980b9;
  --orange: #e67e22;
  --purple: #9b59b6;
  --green: #27ae60;
  --secondary: #200606;
  --primary: #e7e7e7;
  --menu-primary: #ffffff2c;
  --card-primary: #e7e7e7;
  --muted: #7a7a7a;
  --trans: #00000000;
  --opaque: #2727271a;
  --opaque-card: #0000002c;
  --highlight: #32b3d3;
  --unchecked: #ffffff42;
  --checked: #fff;
  --focused: #fff;
  --img-opacity: .1;
  --main-background-light: #ff91ff;
  --main-background-dark: #c787c7;
  --menu-background-light: #ff91ff;
  --menu-background-dark: #ff91ff;
  --tag-card-color: #e0e0e0;
  --tag-card-background: #0000003d;
  --tag-cloud-color: #e0e0e0;
  --tag-cloud-background: #0000003d;
  --font-base-size: 100%;
}