:root {
  --secondary: #383838;
  --primary: #e7e7e7;
  --card-text: #e7e7e7;
  --muted: #7a7a7a;
  --trans: #00000000;
  --opaque: #2727271a;
  --highlight: #32b3d3;
  --checked: #00ff00;
  --focused: #fff;
  --img-opacity: .1;
  --background1: #ff91ff;
  --background2: #c787c7;
  --tag-card-color: #e0e0e0;
  --tag-card-background: #0000003d;
  --tag-cloud-color: #e0e0e0;
  --tag-cloud-background: #0000003d;
  --font-base-size: 100%;
}