.color-edit-1.active,
.color-edit-2.active,
.color-edit-3.active,
.color-edit-4.active,
.color-edit-5.active,
.color-1.active,
.color-2.active,
.color-3.active,
.color-4.active,
.color-5.active {
  border-color: var(--highlight) !important;
  border-width: 2px 1px !important;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5 {
  color: var(--card-primary);
  font-weight: 500;
}

.color-edit-1,
.color-1 {
  background-color: var(--blue);
}

.color-edit-2,
.color-2 {
  background-color: var(--red);
}

.color-edit-3,
.color-3 {
  background-color: var(--purple);
}

.color-edit-4,
.color-4 {
  background-color: var(--orange);
}

.color-edit-5,
.color-5 {
  background-color: var(--green);
}

.text-box {
  background-color: var(--main-background-light);
  border-width: 0px;
  color: var(--primary);
}

.text-box:focus {
  background-color: var(--main-background-light);
  border-width: 0px;
  color: var(--primary);
}

.text-box:disabled {
  background-color: var(--main-background-dark);
  border-width: 0px;
  color: var(--primary);
}

.input-change {
  border-color: var(--highlight);
  border-width: 2px;
}