:root {
  --red: #e74c3c;
  --blue: #2980b9;
  --orange: #e67e22;
  --purple: #9b59b6;
  --green: #27ae60;
}

.color-1.active,
.color-2.active,
.color-3.active,
.color-4.active,
.color-5.active {
  border-color: var(--highlight) !important;
  border-width: 2px 1px !important;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5 {
  color: var(--card-text);
  font-weight: 500;
}

.color-1 {
  background-color: var(--blue);
}

.color-2 {
  background-color: var(--red);
}

.color-3 {
  background-color: var(--purple);
}

.color-4 {
  background-color: var(--orange);
}

.color-5 {
  background-color: var(--green);
}

.text-box {
  background-color: var(--background1);
  border-width: 0px;
  color: var(--primary);
}

.text-box:focus {
  background-color: var(--background1);
  border-width: 0px;
  color: var(--primary);
}

.text-box:disabled {
  background-color: var(--background2);
  border-width: 0px;
  color: var(--primary);
}


.input-change {
  border-color: var(--highlight);
  border-width: 2px;
}